**pycache**/
\*.py\[cod]
\*\$py.class
\*.so

.Python
build/
dist/
downloads/
eggs/
.eggs/
sdist/
wheels/
share/python-wheels/
\*.egg-info/
\*.egg
MANIFEST

.env
.env.\*
.venv/
venv/
env/
.conda/
pip-wheel-metadata/

.tox/
.nox/
.coverage
.coverage.\*
.pytest\_cache/
htmlcov/
.hypothesis/

.mypy\_cache/
.pytype/
.pyre/
.pyright/
.ruff\_cache/

\*.log

.ipynb\_checkpoints/
.ipython/
.jupyter/
\*.ipynb

.vscode/
.idea/
\*.iml
*.sublime-*

.DS\_Store
Thumbs.db
Desktop.ini

data/
datasets/
tmp/
temp/
.cache/
cache/
recount3\_cache/
.recount3\_cache/
logs/

\*.gtf.gz
\*.MD.gz
\*.tsv.gz
\*.bw
\*.zip
\*.whl

samplist.txt
projlist.txt